*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
}

.choices{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.choices .choice img {
    width: 10rem;
    height: 10rem;
    object-fit:cover ;
    border-radius: 50%;
    cursor: pointer;
}

.choices .choice img:hover {
    filter: drop-shadow(5px 5px 5px gray);
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 5rem;
}

.result {
    margin-top: 3rem;

}
.result p {
    background-color: rgb(232, 171, 17);
    font-size:2rem;
    display: inline;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

/* .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.footer p {
    padding-top: 68px;
    font-size: 1rem;
    color: rgb(255, 60, 0);
}
